.user_content{
    position: relative;
    height: 30%;
}
.admin_content{
    height: 30%;
    position: relative;
}
.btn_div{
    display: flex;
    justify-content: right;
    text-align: right;
    margin: 10px;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
}