.user_content{
    border: 1px solid black;
    height: 30%;
}
.admin_content{
    border: 1px solid black;
    height: 30%;
}
.btn_div{
    display: flex;
    justify-content: right;
    text-align: right;
    margin: 10px;
}
.right{
    text-align: right;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: aqua;
}
input{
    background-color: aqua;
}